*.sw[a-p]

backend/target
backend/classes
backend/checkouts
backendpom.xml
backendpom.xml.asc
backend/.lein-failures
backend/.lein-repl-history
backend/.nrepl-port
backend.hgignore
backend.hg/
*.jar
*.class

e2e_tests/node_modules
e2e_tests/screenshots
frontend/node_modules
frontend/yarn-error.log
frontend/dist

configs/servers.yml
